.inter-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.navlink-active {
  background: linear-gradient(90deg,#632EE3,#9F62F2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navlink-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  bottom: -6px;
  background: linear-gradient(90deg,#632EE3,#9F62F2);
  border-radius: 2px;
}

.navlink-inactive {
  color: inherit;
}